{% extends 'authapp/base.html' %}
{% block content %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            <label for="id_username">
            </label><input type="text" name="username" autofocus=""
                           autocapitalize="none" autocomplete="username"
                           maxlength="150" class="textinput textInput form-control"
                           required="" id="id_username" placeholder="Username">
        </p>
        <p>
            <label for="id_email">
            </label><input type="text" name="email" autofocus=""
                           autocapitalize="none" autocomplete="email"
                           maxlength="150" class="textinput textInput form-control"
                           required="" id="id_email" placeholder="Email">
        </p>
        <p>
            <label for="id_password1">
            </label><input type="password" name="password1"
                           autocomplete="current-password"
                           class="textinput textInput form-control" required=""
                           id="id_password1" placeholder="Password">
        </p>
        <p>
            <label for="id_password2">
            </label><input type="password" name="password2"
                           autocomplete="current-password"
                           class="textinput textInput form-control" required=""
                           id="id_password2" placeholder="Password confirm">
        </p>
        <p>
            <label>
                <input type="text" name="first_name" autocapitalize="none"
                       maxlength="150" class="textinput textInput form-control"
                       required="" placeholder="First name">
            </label>
        </p>
        <p>
            <label>
                <input type="text" name="last_name" autocapitalize="none"
                       maxlength="150" class="textinput textInput form-control"
                       required="" placeholder="Last name">
            </label>
        </p>
        <p>
            <label>
                <input type="number" name="age" autocapitalize="none"
                       class="textinput textInput form-control"
                       required="" placeholder="Age">
            </label>
        </p>
        <p>
            <label>
                <input type="file" name="avatar"
                       class="textinput textInput form-control"
                       required="" placeholder="Avatar">
            </label>
        </p>

        <p>
            <button type="submit" class="btn btn-primary btn-block">
                Зарегистрироваться
            </button>
        </p>
    </form>

    <div class="row justify-content-between">
        <div class="col">
            <a href="{% url 'authapp:login' %}"><small>войти</small></a>
        </div>
        <div class="col">
            <a href="#"><small>Забыли пароль?</small></a>
        </div>
    </div>

{% endblock %}


{% block js %}

    <script>
        $(document).ready(function () {
            {% if messages %}
                // Toasts
                $(".toast").toast({delay: 5000});
                $(".toast").toast("show");
            {% endif %}
        });
    </script>

{% endblock %}